<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>rate_url</key>
	<string></string>
	<key>rate_url_old</key>
	<string></string>
	<key>github</key>
	<string></string>
	<key>app_id</key>
	<string></string>
	<key>piwik_id</key>
	<string></string>
	<key>piwik_url</key>
	<string></string>
	<key>feedback_url</key>
	<string></string>
	<key>website</key>
	<string></string>
	<key>enquotes</key>
	<string></string>
</dict>
</plist>
